  <div class="w-section footer-section">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-3">
          <a class="w-nav-brand logo-footer" href="index.html">
            <div class="logo-text footer-logo">Friends of <strong data-new-link="true">Sullivan</strong>
            </div>
            <a style="color:white; font-size:50%;text-decoration:none;" href="//www.google.co.uk/maps/place/Sullivan+Upper+School/@54.6348222,-5.8372171,15z/data=!4m5!3m4!1s0x0:0xbd045a9e26875bee!8m2!3d54.6348222!4d-5.8372171" target="_blank">Sullivan Upper School | BT18 9EP | 028 90428780</a>
            <a href="mailto:info@friendsofsullivan.com" target="_top">Email</a>
          </a>
        </div>
        <div class="w-col w-col-9 w-clearfix footer-link-col">
          <a class="nav-link footer-link contact" data-ix="show-contact-overlay" href="#">Join Us</a>
          <a class="nav-link footer-link" href="/events_news">News</a>
          <a class="nav-link footer-link" href="/about">About</a>
          <a class="nav-link footer-link" href="/projects">Projects</a>
          <a class="nav-link footer-link" href="/">Home</a>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->