<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Thu Jun 09 2016 16:25:39 GMT+0000 (UTC) -->
<html data-wf-site="57599863366474567c8797d7" data-wf-page="57599863366474567c8797e3">
<head>
  <meta charset="utf-8">
  <title>{{name}} | Projects</title>
  <meta name="description" content="Learn more about this project, {{name}}, and see more from our company.">
  <meta property="og:title" content="{{name}} | Projects">
  <meta property="og:image">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Webflow">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/workers-stellar-site.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic"]
      }
    });
  </script>
  <script type="text/javascript" src="js/modernizr.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/favicon.ico">
  <link rel="apple-touch-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png">
</head>
<body>
  <div class="w-section contact-overlay">
    <div class="w-container"><a class="close-link" data-ix="close-contact-overlay" href="#">CLOSE&nbsp;✕</a>
      <div class="form-wrapper">
        <div class="contact-heading">Get in Touch</div>
        <div class="small-divider"></div>
        <div class="contact-text">Thank you for your interest! Please fill out the form below if you would like to work together.</div>
        <div class="w-form">
          <form data-name="Email Form" id="email-form" name="email-form">
            <input class="w-input text-field" data-name="Name" id="name" maxlength="256" name="name" placeholder="Enter your name" type="text">
            <input class="w-input text-field" data-name="Email" id="email" maxlength="256" name="email" placeholder="Enter your email address" required="required" type="email">
            <textarea class="w-input text-field text-area" data-name="Project details" id="Project-details" maxlength="5000" name="Project-details" placeholder="What are your project details..."></textarea>
            <input class="w-button submit-button" data-wait="Please wait..." type="submit" value="Send">
          </form>
          <div class="w-form-done success-message">
            <p class="success-text">Thank you! Your submission has been received!</p>
          </div>
          <div class="w-form-fail">
            <p>Oops! Something went wrong while submitting the form</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section hero-section">
    <div class="w-nav nav" data-animation="default" data-collapse="medium" data-contain="1" data-duration="400">
      <div class="w-container">
        <a class="w-nav-brand" href="index.html">
          <div class="logo-text">TILE<strong data-new-link="true">DESIGN</strong>
          </div>
        </a>
        <nav class="w-nav-menu w-preserve-3d nav-menu" role="navigation"><a class="w-nav-link nav-link" href="index.html">Home</a><a class="w-nav-link nav-link" href="about.html">About</a><a class="w-nav-link nav-link" href="portfolio.html">Portfolio</a><a class="w-nav-link nav-link" href="blog.html">Blog</a><a class="w-nav-link nav-link contact" data-ix="show-contact-overlay" href="#">Contact</a>
        </nav>
        <div class="w-nav-button menu-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
    <div class="hero-overlay"></div>
    <h1></h1>
  </div>
  <div class="w-section section top-section">
    <div class="w-container hero-container project-container">
      <div>
        <div class="alternate-image"></div>
        <div class="w-richtext project-text">
          <h3>The best is yet to come</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          <p>It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
          <h3>More still on its way</h3>
          <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way. On her way she met a copy.</p>
          <p>The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their projects again and again. And if she hasn’t been rewritten, then they are still using her.</p>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One</p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section section gray-section">
    <div class="w-container">
      <div class="center">
        <h2>Recent Projects</h2>
        <div class="small-divider dark-divider"></div>
      </div>
      <div class="w-dyn-list">
        <div class="w-dyn-items w-row w-clearfix">
          <div class="w-dyn-item w-col w-col-4 project-block">
            <a class="w-inline-block project-link">
              <div class="project-image"></div>
              <div class="project-tag"></div>
              <div class="project-title"></div>
            </a>
          </div>
        </div>
        <div class="w-dyn-empty">
          <p>No items found.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section cta-section">
    <div class="w-container">
      <div class="cta-heading">Lets Work Together</div><a class="w-button button" data-ix="show-contact-overlay" href="#">Contact Me</a>
    </div>
  </div>
  <div class="w-section footer-section">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-3">
          <a class="w-nav-brand logo-footer" href="index.html">
            <div class="logo-text footer-logo">TILE<strong data-new-link="true">DESIGN</strong>
            </div>
          </a>
        </div>
        <div class="w-col w-col-9 w-clearfix footer-link-col"><a class="nav-link footer-link contact" data-ix="show-contact-overlay" href="#">Contact</a><a class="nav-link footer-link" href="blog.html">Blog</a><a class="nav-link footer-link" href="portfolio.html">Portfolio</a><a class="nav-link footer-link" href="about.html">About</a><a class="nav-link footer-link" href="index.html">Home</a>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>