<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Thu Jun 09 2016 16:25:39 GMT+0000 (UTC) -->
<html data-wf-site="57599863366474567c8797d7" data-wf-page="57599863366474567c8797e1">
<head>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/contact_form') %>
  
  <div class="w-section hero-section donate-page">

    <%- include('partials/nav_bar') %>
    <h1>Sustaining Sullivan’s Future </h1>
    <div class="hero-overlay"></div>
  </div>
  <div class="w-section section">
    <div class="w-container">
      <div class="w-richtext">
        <h2>[eDonations] School Enhancement Programme</h2>
        <br>
        <p>Donate securely using PayPal payments processing with any debit or credit card, no account required.</p>
        <br>
        <blockquote>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="6BHRZ6H3M8ZA4">
              <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </form>
        </blockquote>
        <figure data-rt-type="image" data-rt-align="floatright" data-rt-max-width="40" class="w-richtext-align-floatright" data-rt-max-height="941" style="max-width: 40%;">
          <a href="//drive.google.com/file/d/0B-qzY6m4Xyo0VV9wRklHVDJ6U0RTc0ktQ0V0RzRrbnRzVFVn/view" target="_blank">Or Download pledge form</a>
          </div>
        </figure>
        <br>
        <p>Or download our pledge form manually and send it to us</p>
        <p>All proceeds towards the ongoing school enhancement project helping to Sustain Sullivan’s Future for the next generation.</p>
        <p>Find out more about donations and how we are sustaining Sullivan's 
        <div class="alternate-image with-padding">
             <iframe class="project-flyby" src="https://www.youtube.com/embed/7Yt18waOA-4" frameborder="0" allowfullscreen></iframe>
        </div>
        <p>Find out more about donations and how we are sustaining Sullivan's future <a href="/about">here</a></p>
      </div>
    </div>
  </div>

  <%- include('partials/footer') %>
  
  <script>

      $('#flyer-view').on('click', function() {
          var route = $(this).data('href')
          window.open(route);
          console.log(route)
      });

  </script>

</body>
  
</html>

