<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Mon Jun 13 2016 15:22:54 GMT+0000 (UTC) -->
<html data-wf-site="575ecfc49a7bf26421d7cd11" data-wf-page="575ecfc59a7bf26421d7cd20">

<head>
  <%- include('partials/head') %>
</head>
<body>

  <%- include('partials/contact_form') %>
  <div class="w-section hero-section blog-hero">
    
    <div class="hero-overlay"></div>
    <%- include('partials/nav_bar') %>
    <h1>What's on & updates</h1>
  
  </div>

  <div class="w-section section">
    <div class="w-container">
      <div class="w-dyn-list">
        <div class="w-dyn-items w-row">
          <div class="w-dyn-item w-col w-col-4 blog-block">
            <a class="w-inline-block project-link blog-link" href="/events_fundraising" data-ix="blog-link">
              <div class="blog-image-wrapper">
                <div class="blog-date">4th February 2017</div>
                <div class="blog-category">Buy Tickets</div>
                <div class="blog-image gala-ball"></div>
              </div>
              <div class="blog-title">140th Anniversary Ball</div>
              <div class="blog-description">Join us at Titanic Belfast for a spectacular evening of entertainment and fun to celebrate the 140th Anniversary of the School, and to raise funds for our 2017 appeal.  Click buy tickets for more information.</div>
            </a>
          </div>
          <div class="w-dyn-item w-col w-col-4 blog-block">
            <a class="w-inline-block project-link blog-link" href="#" data-ix="blog-link">
              <div class="blog-image-wrapper">
                <div class="blog-date">Date: TBC</div>
                <div class="blog-category">Event</div>
                <div class="blog-image ed-event"></div>
              </div>
              <div class="blog-title">Edinburgh Event</div>
              <div class="blog-description">The Friends of Sullivan community reaches far and wide. We therefore intend to hold an evening reception/dinner in Edinburgh to provide an opportunity for Sullivan ‘ex-pats’ to re-connect with their follow Alumni and friends.</div>
            </a>
          </div>
          <div class="w-dyn-item w-col w-col-4 blog-block">
            <a class="w-inline-block project-link blog-link" href="#" data-ix="blog-link">
              <div class="blog-image-wrapper">
                <div class="blog-date">Date: Autumn 2017</div>
                <div class="blog-category">Event</div>
                <div class="blog-image sport-event"></div>
              </div>
              <div class="blog-title">Champions Sporting Dinner</div>
              <div class="blog-description">Enjoy an evening with Sullivan’s sporting Alumni past and present to hear first-hand of their experiences in the world of sport. Full details will be published here in due course, however we anticipate demand will be high.</div>
            </a>
          </div>
          <div class="w-dyn-item w-col w-col-4 blog-block">
            <a class="w-inline-block project-link blog-link" href="#" data-ix="blog-link">
              <div class="blog-image-wrapper">
                <div class="blog-date">Date: TBC</div>
                <div class="blog-category">Event</div>
                <div class="blog-image lond-event"></div>
              </div>
              <div class="blog-title">London Event</div>
              <div class="blog-description">The Friends of Sullivan community reaches far and wide. We therefore intend to hold an evening reception/dinner in London to provide an opportunity for Sullivan ‘ex-pats’ to re-connect with their fellow Alumni and friends. More info in due course.</div>
            </a>
          </div>
        </div>
        <!-- <div class="w-dyn-empty">
          <p>No items found.</p>
        </div> -->
      </div>
    </div>
  </div>
  <div class="w-section cta-section">
    <div class="w-container">
      <div class="cta-heading">Be part of it</div><a class="w-button button" data-ix="show-contact-overlay" href="#">Join us</a>
    </div>
  </div>
  <%- include('partials/footer') %>
</body>
</html>