<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Mon Jun 13 2016 15:22:54 GMT+0000 (UTC) -->
<html data-wf-site="575ecfc49a7bf26421d7cd11" data-wf-page="575ecfc59a7bf26421d7cd20">

<head>
  <%- include('partials/head') %>
</head>
<body>

  <%- include('partials/contact_form') %>
  <div class="w-section hero-section blog-hero">
    
    <div class="hero-overlay"></div>
    <%- include('partials/nav_bar') %>
    <h1>What's on & updates</h1>
  
  </div>

  <div class="w-section section">
    <div class="w-container">
      <div class="w-richtext">
          <h2>Upcoming Events & News</h2>
      </div>
      <div class="w-dyn-list">
        <div class="w-dyn-items w-row">

          <div class="w-dyn-item w-col w-col-4 blog-block">
            <a class="w-inline-block project-link blog-link" href="//www.buytickets.at/sullivanchampionsdinner" target="_blank"data-ix="blog-link">
              <div class="blog-image-wrapper">
                <div class="blog-date">Date: 30 Sept 2017</div>
                <div class="blog-category">Buy Tickets</div>
                <div class="blog-image sport-event"></div>
              </div>
              <div class="blog-title">Sullivan Champions Dinner</div>
              <div class="blog-description">Enjoy a night of entertainment at Belfast Waterfront as we recognise and celebrate the achievements of our alumni across a plethora of career paths - Arts, Science, Music, Sports, Business and Academia.</div>
            </a>
          </div>

          <div class="w-dyn-item w-col w-col-4 blog-block">
            <a class="w-inline-block project-link blog-link" href="#" data-ix="blog-link">
              <div class="blog-image-wrapper">
                <div class="blog-date">Date:  TBC</div>
                <div class="blog-category">Event</div>
                <div class="blog-image gala-ball"></div>
              </div>
              <div class="blog-title">Belfast Event</div>
              <div class="blog-description">After a highly successful 140th School Anniversary celebration, the Friends of Sullivan community will continue to organise annual funding events so stay tuned to find out more on our next Belfast event.</div>
            </a>
          </div>
          <div class="w-dyn-item w-col w-col-4 blog-block">
            <a class="w-inline-block project-link blog-link" href="#" data-ix="blog-link">
              <div class="blog-image-wrapper">
                <div class="blog-date">Date: TBC</div>
                <div class="blog-category">Event</div>
                <div class="blog-image ed-event"></div>
              </div>
              <div class="blog-title">Edinburgh Event</div>
              <div class="blog-description">The Friends of Sullivan community reaches far and wide. We therefore intend to hold an evening reception/dinner in Edinburgh to provide an opportunity for Sullivan ‘ex-pats’ to re-connect with their follow Alumni and friends.</div>
            </a>
          </div>
          <div class="w-dyn-item w-col w-col-4 blog-block">
            <a class="w-inline-block project-link blog-link" href="#" data-ix="blog-link">
              <div class="blog-image-wrapper">
                <div class="blog-date">Date: TBC</div>
                <div class="blog-category">Event</div>
                <div class="blog-image lond-event"></div>
              </div>
              <div class="blog-title">London Event</div>
              <div class="blog-description">The Friends of Sullivan community reaches far and wide. We therefore intend to hold an evening reception/dinner in London to provide an opportunity for Sullivan ‘ex-pats’ to re-connect with their fellow Alumni and friends. More info in due course.</div>
            </a>
          </div>
        </div>
        <!-- <div class="w-dyn-empty">
          <p>No items found.</p>
        </div> -->
      </div>
    </div>
  </div>
<!-- START OF BANNER -->
  <div class="w-section cta-section">
    <div class="w-container">
      <div class="cta-heading">Be part of it</div><a class="w-button button" data-ix="show-contact-overlay" href="#">Join us</a>
    </div>
  </div>
<!-- START OF PAST EVENTS -->
  <div class="w-section section">
    <div class="w-container">
      <div class="w-richtext">
          <h2>Past events and photos</h2>
      </div>

      <div class="w-dyn-list">
        <div class="w-dyn-items w-row">

              <div class="w-dyn-item w-col w-col-4 blog-block">
                <a class="w-inline-block project-link blog-link" href="/events_fundraising" data-ix="blog-link">
                  <div class="blog-image-wrapper">
                    <div class="blog-date">4th February 2017</div>
                    <div class="blog-category">SOLD OUT</div>
                    <div class="blog-image gala-ball"></div>
                  </div>
                  <div class="blog-title">140th Anniversary Ball</div>
                  <div class="blog-description">Over 600 attendees sold out Titanic Belfast to celebrate 140 years of Sullivan. There was a great atmosphere throughout the night with the event raising a considerable amount for the Sullivan Appeal Fund.</div>
                </a>
              </div>

        </div>
      </div>
     </div>
   </div>

  <%- include('partials/footer') %>
</body>
</html>