<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Mon Jun 13 2016 15:22:54 GMT+0000 (UTC) -->
<html data-wf-site="575ecfc49a7bf26421d7cd11" data-wf-page="575ecfc59a7bf26421d7cd20">

<head>
  <%- include('partials/head') %>
</head>
<body>

  <%- include('partials/contact_form') %>
  <div class="w-section hero-section blog-hero">
    
    <div class="hero-overlay"></div>
    <%- include('partials/nav_bar') %>
    <h1>What's on & updates</h1>
  
  </div>

  <div class="w-section section">
    <div class="w-container">
      <div class="w-dyn-list">
        <div class="w-dyn-items w-row">
          <div class="w-dyn-item w-col w-col-4 blog-block">
            
            <a class="w-inline-block project-link blog-link" href="#" data-ix="blog-link">
              <div class="blog-image-wrapper">
                <div class="blog-date">4th February 2017</div>
                <div class="blog-category">Fundraising</div>
                <div class="blog-image gala-ball"></div>
              </div>
              <div class="blog-title">140th Anniversary Ball</div>
              <div class="blog-description">To launch Friends of Sullivan & our new project join us in Belfast's Titanic centre.</div>
              <div>
                <div class="blog-author">Written by</div>
                <div class="blog-author">Jason Eves</div>
              </div>
            </a>

          </div>
          <div class="w-dyn-item w-col w-col-4 blog-block">
            <a class="w-inline-block project-link blog-link" href="#" data-ix="blog-link">
              <div class="blog-image-wrapper">
                <div class="blog-date">Date: TBC</div>
                <div class="blog-category">Event</div>
                <div class="blog-image ed-event"></div>
              </div>
              <div class="blog-title">Edinburgh Event</div>
              <div class="blog-description">We are hosting an event for Sullivan friends to come together in Scotland.</div>
              <div>
                <div class="blog-author">Written by</div>
                <div class="blog-author">Harry O'Neill</div>
              </div>
            </a>
          </div>
          <div class="w-dyn-item w-col w-col-4 blog-block">
            <a class="w-inline-block project-link blog-link" href="#" data-ix="blog-link">
              <div class="blog-image-wrapper">
                <div class="blog-date">Date: TBC</div>
                <div class="blog-category">Event</div>
                <div class="blog-image lond-event"></div>
              </div>
              <div class="blog-title">London Event</div>
              <div class="blog-description">We are hosting an event for Sullivan friends to come together London City.</div>
              <div>
                <div class="blog-author">Written by</div>
                <div class="blog-author">Peter Eves</div>
              </div>
            </a>
          </div>

        </div>
        <!-- <div class="w-dyn-empty">
          <p>No items found.</p>
        </div> -->
      </div>
    </div>
  </div>
  <div class="w-section cta-section">
    <div class="w-container">
      <div class="cta-heading">Be part of it</div><a class="w-button button" data-ix="show-contact-overlay" href="#">Join us</a>
    </div>
  </div>
  <%- include('partials/footer') %>
</body>
</html>