<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Thu Jun 09 2016 16:25:39 GMT+0000 (UTC) -->
<html data-wf-site="57599863366474567c8797d7" data-wf-page="57599863366474567c8797e1">
<head>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/contact_form') %>
  
  <div class="w-section hero-section fund-page">

    <%- include('partials/nav_bar') %>
    <h1>140th Anniversary Gala Ball</h1>
    <div class="hero-overlay"></div>
  </div>
  <div class="w-section section">
    <div class="w-container">
      <div class="w-richtext">
        <h2>Sullivan Upper School 140th Anniversary Gala Ball </h2>
        <br>
        <p>
            We celebrated the school’s 140th Anniversary in spectacular fashion with a Gala Ball at Titanic Belfast on 4th February 2017.
        </p>
        <div class="alternate-image with-padding">
               <iframe class="project-flyby" src="https://www.youtube.com/embed/CMJSX-4OWIA" frameborder="0" allowfullscreen></iframe>
        </div>
        <br>
        <blockquote>
           The entire night raised an incredible amount of  £26 000. Pictures from the night can be seen on the ‘Friends of Sullivan’ facebook page or click <a target="_blank" href="//drive.google.com/open?id=0B-qzY6m4Xyo0NEtTM3V3MkJTdkE">here</a>.
<!--         <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="VD8ZD5EH6HBP2">
              <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
        </form> -->
        </blockquote>
        <br>
        <p>
            The event was attended by over 600 guests including staff, governors, parents, past parents, Year 14 pupils and of course former pupils. 
        </p>
        <p>
            We were pleased to see many flying in from Great Britain and Europe, individuals even travelled from the  United States and the Cayman Islands just to attend the celebrations. 
        </p>
        <p>
           Mark Simpson and Alison Fleming hosted the evening with great skill and panache and Flash Harry provided the entertainment. The guest auctioneer on the evening and former pupil, David Jeffrey did an outstanding job auctioning a range of  unique lots - some of which had been donated by notable alumni. 
        </p>
        <p>
          Lots included an Ulster Rugby Stadium Tour with personal guide, Darren Cave, and a 4 hour bake off masterclass with the Great British Bake Off star, Andrew Smyth. Sky news presenter Dermot Murnaghan, who flew in from London with many of his former classmates, also participated in the evening’s proceedings. 
        </p>
        <p>
          Although Rory McIlroy, arguably Sullivan’s most famous alumnus, was unable to attend the evening as he is currently recovering from injury he did send his apologies and, much to the delight of the guests, he recorded a short video message for the event.
        </p>
        <p>  
          In addition to celebrating 140 years of Sullivan educating the children of Holywood and the surrounding area, the night raised money for the Sullivan Upper Appeal Fund. 
        </p>
        <p>
          The Board of Governors would like to say a huge thank you to everyone who attended, the night’s sponsors, the staff at Titanic Belfast, the organisers and the wonderful Year 14 hosts and hostesses.
        </p>
        <br>
        <!-- <figure data-rt-type="image" data-rt-align="floatright" data-rt-max-width="40" class="w-richtext-align-floatright" data-rt-max-height="941" style="max-width: 40%;">
          <div id="flyer-view" data-href="//drive.google.com/file/d/0B-qzY6m4Xyo0VV9wRklHVDJ6U0RTc0ktQ0V0RzRrbnRzVFVn/view"><img src="images/flyer-thumbnail.png" alt="">
          </div>
        </figure> -->
      </div>
     
    </div>
  </div>

  <%- include('partials/footer') %>
  
  <script>

      $('#flyer-view').on('click', function() {
          var route = $(this).data('href')
          window.open(route);
          console.log(route)
      });

  </script>

</body>
  
</html>

