<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Thu Jun 09 2016 16:25:39 GMT+0000 (UTC) -->
<html data-wf-site="57599863366474567c8797d7" data-wf-page="57599863366474567c8797e1">
<head>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/contact_form') %>
  
  <div class="w-section hero-section about-page">

    <%- include('partials/nav_bar') %>
    <h1>Projects | Enhancements</h1>
    <div class="hero-overlay"></div>
  </div>
  <div class="w-section section">
    <div class="w-container">
      <div class="alternate-image project-1"></div>
      <div class="w-richtext">
        <h2>[2016] School Enhancement Programme</h2>
        <figure data-rt-type="image" data-rt-align="floatright" data-rt-max-width="40" class="w-richtext-align-floatright" data-rt-max-height="941" style="max-width: 40%;">
          <div><img src="images/sep-1.JPG" alt="">
          </div>
        </figure>
        <p>In February 2016, following a successfully application to the Department of Education, the school received confirmation of a grant under the School Enhancement Programme.</p>
        <p>The grant will help fund the building and improvement of facilities throughout the school estate. Following extensive planning and assessment there are a number of developments the school are pleased to announce that will be commencing in the coming months.</p>
        <blockquote>"There will a digital 3D fly through available to view late June 2016."</blockquote>
        <p>The first of those developments is the replacement of the front hockey pitch with an astro­turf pitch. After years of traveling to the nearest venue to call home and amongst major hockey success from both the boys and girls in the last number of years, the hockey club are well overdue their own National standard facilities. The project will include the addition of applicable floodlighting and the provision of spectator viewing areas – this project will commence in July 2016.</p>
        <figure data-rt-type="image" data-rt-align="floatleft" data-rt-max-width="40" class="w-richtext-align-floatleft" data-rt-max-height="941" style="max-width: 40%;">
          <div><img src="images/sep-2.JPG" alt="">
          </div>
        </figure>
        <p>The second project is the replacement of the War Memorial Pavilion with a multipurpose two storey building including. This building will provide changing facilities, a dance/drama studio, a state­of­the­art gymnasium as well as office space. Additionally, there will be a viewing gallery and balcony looking out over the front pitches. The new pavilion maintains its predecessors wooden slats appearances although maximises space adding much needed new and improved  facilities. This project will commence in September 2016.</p>
        <p>The two projects are estimated to cost a total of £3 million; the Department of Education (SEP Grant) will be funding £2.3 million; with the school’s share of the cost approximately £600 000.</p>
      </div>
    </div>
  </div>
  <div class="w-section cta-section">
    <div class="w-container">
      <div class="cta-heading">Be part of our projects</div><a class="w-button button" data-ix="show-contact-overlay" href="#">Alumni Sign Up</a>
    </div>
  </div>
  <div class="w-section section">
    <div class="w-container">
      <div class="w-richtext">
        <h2>[1962] The War Memorial Pavilion</h2>
        <figure data-rt-type="image" data-rt-align="floatright" data-rt-max-width="40" class="w-richtext-align-floatright" data-rt-max-height="941" style="max-width: 40%;">
          <div><img src="images/war-pro-1.jpg" alt="">
          </div>
        </figure>
        <p>In 1962 the iconic War Memorial Pavilion as we know it today was opened. The money to erect the building was provided by the War Memorial Fund which the Former Pupils Association launched in 1957­-58. By 1960, the sum of £590 had been raised, a sum which disappointed the Association's Secretary.</p>
        <blockquote>Following a bazaar run by the Association in the school grounds on Saturday 6 October 1962, almost £1000 was raised and ensured that the Fund reached its target.</blockquote>
        <p>Although the Pavilion was intended for use by the P.E. and games Department it has actually had a more chequered history. From the beginning it was used for classes, Preparatory Department even the music department held residence in the pavilion before moving to the current Music Suite in 1989.</p>
        
        <p>The iconic building has served the school well over its 55 year life span, some will be sad to see the old stomping ground replaced, many glad, but looking to the future we should all be excited by it's successor.</p>
      </div>
    </div>
  </div>

  <%- include('partials/footer') %>
  
</body>
</html>