<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Thu Jun 09 2016 16:25:39 GMT+0000 (UTC) -->
<html data-wf-site="57599863366474567c8797d7" data-wf-page="57599863366474567c8797e1">
<head>
  <meta charset="utf-8">
  <title>About</title>
  <meta property="og:title" content="About">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Webflow">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/workers-stellar-site.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic"]
      }
    });
  </script>
  <script type="text/javascript" src="js/modernizr.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/favicon.ico">
  <link rel="apple-touch-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png">
</head>
<body>
  <div class="w-section contact-overlay">
    <div class="w-container"><a class="close-link" data-ix="close-contact-overlay" href="#">CLOSE&nbsp;✕</a>
      <div class="form-wrapper">
        <div class="contact-heading">Get in Touch</div>
        <div class="small-divider"></div>
        <div class="contact-text">Thank you for your interest! Please fill out the form below if you would like to work together.</div>
        <div class="w-form">
          <form data-name="Email Form" id="email-form" name="email-form">
            <input class="w-input text-field" data-name="Name" id="name" maxlength="256" name="name" placeholder="Enter your name" type="text">
            <input class="w-input text-field" data-name="Email" id="email" maxlength="256" name="email" placeholder="Enter your email address" required="required" type="email">
            <textarea class="w-input text-field text-area" data-name="Project details" id="Project-details" maxlength="5000" name="Project-details" placeholder="What are your project details..."></textarea>
            <input class="w-button submit-button" data-wait="Please wait..." type="submit" value="Send">
          </form>
          <div class="w-form-done success-message">
            <p class="success-text">Thank you! Your submission has been received!</p>
          </div>
          <div class="w-form-fail">
            <p>Oops! Something went wrong while submitting the form</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section hero-section about-page">
    <div class="w-nav nav" data-animation="default" data-collapse="medium" data-contain="1" data-duration="400">
      <div class="w-container">
        <a class="w-nav-brand" href="index.html">
          <div class="logo-text">TILE<strong data-new-link="true">DESIGN</strong>
          </div>
        </a>
        <nav class="w-nav-menu w-preserve-3d nav-menu" role="navigation"><a class="w-nav-link nav-link" href="index.html">Home</a><a class="w-nav-link nav-link" href="about.html">About</a><a class="w-nav-link nav-link" href="portfolio.html">Portfolio</a><a class="w-nav-link nav-link" href="blog.html">Blog</a><a class="w-nav-link nav-link contact" data-ix="show-contact-overlay" href="#">Contact</a>
        </nav>
        <div class="w-nav-button menu-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
    <h1>About Me</h1>
    <div class="hero-overlay"></div>
  </div>
  <div class="w-section section">
    <div class="w-container">
      <div class="w-richtext">
        <h2>I love what I do</h2>
        <figure data-rt-type="image" data-rt-align="floatright" data-rt-max-width="40" class="w-richtext-align-floatright" data-rt-max-height="941" style="max-width: 40%;">
          <div><img src="images/skateboard.jpg" alt="">
          </div>
        </figure>
        <p>Bacon ipsum dolor amet ground round tongue andouille shoulder, venison sausage biltong short loin leberkas tenderloin picanha boudin cupim bacon. Short loin salami boudin andouille beef ribs shank ham hock ball tip beef pastrami. <a href="http://www.webflow.com">Turducken pig salami</a> tenderloin. Doner bacon spare ribs picanha pastrami meatloaf ground round bresaola flank landjaeger.</p>
        <p>Tail kielbasa leberkas short ribs. Ribeye pork pig, rump capicola venison tongue prosciutto drumstick kevin biltong ground round. Shank doner turducken venison andouille, tongue sirloin biltong chicken boudin meatball turkey. Venison pork belly jowl capicola shankle flank.</p>
        <blockquote>"I love doing this stuff! The more and more I work with Webflow, the more I fall in love with web design."</blockquote>
        <p>Pancetta ribeye salami shoulder, bresaola short ribs cow sausage pork loin tongue. Pork t-bone chicken shankle ball tip, tri-tip beef. Cow shank strip steak, spare ribs pork loin filet mignon sirloin cupim tenderloin rump ball tip kevin <a href="http://www.webflow.com">pig porchetta</a>. Picanha chicken porchetta, ham hock flank ham ground round fatback pancetta shankle. Venison biltong pork belly turducken.</p>
        <p>Spare ribs sausage ham hock ground round brisket t-bone bacon drumstick. Shankle flank salami, landjaeger meatloaf rump biltong chicken shank t-bone pork loin capicola drumstick venison pork. Ball tip sirloin beef ribs hamburger, turkey swine frankfurter cow pork belly ground round short ribs prosciutto. Beef ribs pancetta t-bone fatback, prosciutto porchetta kielbasa corned beef ham turducken bacon.</p>
        <p>Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!</p>
      </div>
    </div>
  </div>
  <div class="w-section cta-section">
    <div class="w-container">
      <div class="cta-heading">Lets Work Together</div><a class="w-button button" data-ix="show-contact-overlay" href="#">Contact Me</a>
    </div>
  </div>
  <div class="w-section footer-section">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-3">
          <a class="w-nav-brand logo-footer" href="index.html">
            <div class="logo-text footer-logo">TILE<strong data-new-link="true">DESIGN</strong>
            </div>
          </a>
        </div>
        <div class="w-col w-col-9 w-clearfix footer-link-col"><a class="nav-link footer-link contact" data-ix="show-contact-overlay" href="#">Contact</a><a class="nav-link footer-link" href="blog.html">Blog</a><a class="nav-link footer-link" href="portfolio.html">Portfolio</a><a class="nav-link footer-link" href="about.html">About</a><a class="nav-link footer-link" href="index.html">Home</a>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>